
<div class="search-form wrapper">
	<div class="row">
		<div class="search-form unversity small-12 medium-3 large-4 columns"">
			<label><span> University<span>
  			</label>
  			<select ng-options = "house.university for house in houses">
  			</select>
 		</div>
 		<div class="search-form dates small-12 medium-4 large-4 columns">
	 		<label><span>from<span>
	  		</label>
	  		<div class="row">
	  			<datepicker class="small-6 medium-6 large-6 columns"">
	    			<input type="text" placeholder="from">
	  			</datepicker>
	  			<datepicker class="small-6 medium-6 large-6 columns">
		  			<input type="text" placeholder="to">
		 		</datepicker>
	 		</div>
  		</div>
  		<div class="search-form people small-12 medium-3 large-4 columns">
  			<label><span>Who</span>
    		</label>
    		<input type="number">
  		</div>
  
  	</div>
</div>

<div class="row small-up-1 medium-up-2 large-up-3" ng-repeat="house in houses">
	<div class="column">
	<img ng-src = "#">
	<span>{{house.name}}</span>
	<span>{{house.owner}}</span>
	<span>{{house.rating}}</span>
	<a href="#/housedetails/{{house._id}}">View Details</a>
	</div>
</div>


